:root {
  --widget: #0f4d92;
}

.gallery-row {
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#toggle-osi-coords.form-check-input {
  background-color: #ffffff !important;
  border-color: #0f4d92 !important;
}

#toggle-osi-coords.form-check-input::before {
  background-color: #ffffff !important;
}

#toggle-osi-coords.form-check-input:checked {
  background-color: #0f4d92 !important;
  border-color: #0f4d92 !important;
}

#toggle-osi-coords.form-check-input:checked::before {
  background-color: #0f4d92 !important;
}


#annotation_canvas .modebar {
    left: 60%;
    transform: translateX(-60%);
}

#annotation_canvas-fullscreen .modebar {
    left: 40%;
    position: fixed;
    top: 5%;
}

#registration-modal .modebar {
    left: 40%;
    position: fixed;
    top: 5%;
}

.region-stats {
    overflow-x: scroll;
}

#dataset-preview-table {
overflow: scroll;
overflow-wrap: anywhere;
max-width: inherit;
}

.mantine-majorq:active {
  box-shadow: 0 5px #666;
  transform: translateY(5px) !important;
}

#inputs-offcanvas{
header {
visibility: hidden;}
}

.dash-debug-menu {
  background-color: #0f4d92 !important;
  //color: #0f4d92;
 }

 .dash-debug-menu--open {
  background-color: #0f4d92 !important;
  color: #0f4d92;
 }

.dash-debug-menu:hover {
  background-color: #0f4d92 !important;
  //color: #0f4d92;
 }

*{
  font-family: Arial;
}

.dash-spinner.dash-default-spinner {
    color: var(--widget);
}

.rc-slider-track {
  background-color: var(--widget);
}

.rc-slider-dot-active {
  border-color: var(--widget);
}

#radioitems label{
  color: var(--widget);
}

[class*="primary"], input[type='radio'] {
    color: var(--widget);
}

.rc-slider-handle {
  background-color: var(--widget);
  border-color: var(--widget);
}

.rc-slider-handle:hover {
  border-color: var(--widget);
}

.rc-slider-handle-active:active {
  border-color: var(--widget);
}


[class*="primary"]{
    background-color: var(--widget);
}


.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 100px;
    padding-left: 5px;
}

.full-screen {
            position: relative;
            height: 98vh !important;
            width: 98vw !important;
            left: 0;
            top: 0;
            z-index: 9999;
            overflow: hidden;
        }

.modal {
  margin: 0 auto;
}

div#dash-uploader {
    min-height: auto !important;
    line-height: normal !important;
  }
