<!DOCTYPE html>
<html>
  <head>
  <style>
    title {text-align: center;}
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
</style>
    <title>ccramic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">ccramic help</h1>
        <h2 class="logo">Access the help page for ccramic</h2>
          <p>This is the official help page for ccramic. See below for instructions on usage and troubleshooting.</p>
        <br>

        <br>
          <a href="/">Return to home.</a>
        <strong><nav>
          <ul class="menu">
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
