.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 100px;
    padding-left: 5px;
}

#annotation_canvas-fullscreen .modebar {
    position: fixed;
    top: 5%;
    left: 50%;
}

.full-screen {
            position: fixed;
            height: 98vh !important;
            width: 98vw !important;
            left: 0;
            top: 0;
            z-index: 9999;
            overflow: hidden;
        }

.modal {
  margin: 0 auto;
}