<!DOCTYPE html>
<html>
  <head>
  <style>
    * {font-family: Arial;}
    title {text-align: center;}
    h1 {text-align: center;}
    p {text-align: center;}
    a {text-align: center; float: center;}
    div {text-align: center;}
</style>
    <title>rakaia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo" style="margin-right: 1rem;">rakaia</h1>
        <h2 class="logo">Scalable multiplex imaging dataset analysis in the browser</h2>
          <br>
          <img src="{{ url_for('static', filename='app-preview.png')}}"  height="350"
               width="1200" alt="rakaia app overview" style="float: center">
          <br>
        <strong><nav>
          <ul class="menu">
            <a style="font-size: 30px; margin-right: 3rem;" href="/rakaia/">Launch rakaia</a>
            <br>
              <br>
              <br>
              <br>
            <a style="font-size: 20px; margin-right: 3rem"
               href="https://camlab-bioml.github.io/rakaia-doc/docs/installation" target="_blank">Access rakaia documentation </a>
            <br>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
